$loginPageBg: #76c59a;
$btnColor: #19632f;
$error: #ec5454;
$success: #54c538;
$maxFont: 26px;
$regularFont: 16px;
$defaultColor: #fff;
$primaryColor: #00bcd4;
$secondaryColor: #ff4081;
$disabledColor: #d4d4d4;